body{
    background: linear-gradient(90deg, #ca8c49, #554bac);
}
h1{
    color: #faf5f5 ;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 15px #000000;
}
p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 h2{
    color: #c9d30b;
    font-family:Georgia, 'Times New Roman', Times, serif ;
 }


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    padding: 2px;
    border: 2px solid #000000;
    
    box-shadow:  0 6px 20px #b35802;
    
}

header img{
    width: 5%;
    margin-left: 10px;
    border-radius: 100%;
    
}

main{
    text-align: center;
}

main p{
    text-align: center;

}

main video{
    width: 40%;
    border-radius: 20px;
    transition: 0.5s ease;
    cursor: pointer;
}

main video:hover{
    transform: scale(1.6);
    z-index: 10;

}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    
}

header img{
    justify-content: left;
    
}


nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
    justify-content: flex-end;   
}

nav a{
    text-decoration: none;
    color: #f8f5f5;
}

.cards{
    display: flex;
    justify-content: center;
    
    gap: 20px;
    
}


@media (max-width: 600px) {
    .cards p{
        font-size: 16px;
      
    }

    header img{
        width: 15%;
    }

    h1{
        font-size: 18px;
        text-align: center;
        
    }
    p{
        font-size: 16px;
    }

   h2{
    font-size: 20px;
     }

 nav ul{
    gap: 0.2px;
 }


 main div{
  justify-content: center;
 }

 main video{
transition:  1s;
width: 63%;
    
 }
 main video:hover{
   
    margin-top: 20px;
}
    nav a{
        font-size: 10px;
        margin-right: 20px;
    }
    
    footer{
        width: 80%;
    }
    footer p{
        font-size: 20px;
    }
}